* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}
.elementInput {
    width: 253px;
}
.withMargins {
    margin-top: 20px;
    margin-bottom: 20px;
}