<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File server</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}" />
    <script th:src="@{/js/list.js}"></script>
</head>
<body>
    <div class="row">
        <div class="column">
            <ul>
                <li th:if="${parentPath != null}">
                    <a th:href="@{{value}(value=${parentPath})}">Back</a>
                </li>
            </ul>
            <ul th:each="filePath, iterator : ${filePaths}">
                <li>
                    <a th:href="@{{value}(value=${filePath})}" th:text="${fileNames[iterator.index]}"></a>
                </li>
            </ul>
        </div>

        <div class="column">
            <form method="post" action="/storage/createFolder">
                <label>New Folder:</label>
                <input class="elementInput" type="text" name="newFolderName"/>
                <input type="submit" value="Create"/>
                <input type="hidden" th:value="${currentFolder}" name="currentFolderPath"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
            <form method="post" enctype="multipart/form-data" action="/storage/uploadFile">
                <label>File Upload:</label>
                <input class="withMargins" type="file" name="file" />
                <input type="submit" value="Upload" />
                <input type="hidden" th:value="${currentFolder}" name="currentFolderPath"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
            <div>
                <label>Delete/Rem:</label>
                <input id="removePath" class="elementInput" type="text" name="removedElement" />
                <button onclick="remove()">Delete</button>
                <input type="hidden" th:value="${currentFolder}" id="currentFolderPath"/>
                <input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </div>
        </div>
    </div>
</body>
</html>